<div class="container">
  <!-- <app-stopwatch></app-stopwatch>
  <div class="button__container">
    <app-start-stop-button color="green" text="Start" (btnClick)="toggleStartStopButton()"></app-start-stop-button>
    <app-wait-button></app-wait-button>
    <app-reset-button></app-reset-button>
  </div> -->
  <div class="stopwatch__container">
    <p>{{stopwatch.minutes}} : {{stopwatch.seconds}}</p>
  </div>
  <div class="button__container">
    <button [ngClass]="!isStart ? 'start' : 'stop'" (click)="handleStartStop()">{{isStart ? 'Stop' : 'Start'}}</button>
    <button class="reset" (click)="handleReset()">Reset</button>
    <button class="wait" #waitButton >Wait</button>
  </div>
</div>
